
.footer-custom {
    background-color: var(--secundario-azul); /* Color de fondo */
    color: #fff;
    padding: 40px 0;
    font-family: var(--open-sans);
}

.footer-custom .container-fluid {
    display: flex;
    flex-wrap: wrap;
}

.footer-custom .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-custom .col-md-4 {
    flex: 1;
    margin: 0 20px;
}

.footer-logo {
    max-width: 200px; /* Tamaño máximo del logo en pantallas grandes */
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
.footer-custom .row {
    /* flex-direction: column; */
    text-align: center;
}

.footer__navegacion, .footer__social {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.footer__navegacion li, .footer__social li {
    display: inline-block;
    margin-right: 15px;
}

.footer__navegacion li a, .footer__social li a {
    color: #fff;
    text-decoration: none;
}

.footer__midia img {
    width: 42px;
    height: 42px;
}

.footer__navegacion li a:hover, .footer__social li a:hover {
    text-decoration: underline;
}
@media (max-width: 1024px) {
    .footer-logo {
        max-width: 100px; /* Tamaño más pequeño en pantallas medianas */
    }
}
@media (max-width: 768px) {
    .footer-custom img.footer-logo {
        max-width: 150px;
    }
    .footer-custom .row {
        flex-direction: column;
        text-align: center;
    }
    .footer__navegacion, .footer__social {
        text-align: center;
        
    }
    .footer-logo {
        max-width: 150px; /* Tamaño más pequeño en pantallas pequeñas */
    }
}