:root {
    --ceniza-claro: #F7F4F4;

    /* colores oficilaes */
    --principal-gris: #4C5866;
    --secundario-gris: #E2E8E4;
    --secundario-azul: #006C84;
    --auxliar-azul: #6EB5C0;
    


    --montserrat: 'Abhaya Libre', serif !important;
    --open-sans: 'Abhaya Libre', serif !important;
}

body {
    font-family: var(--open-sans);
    background: #e2e8e4 !important;
}

.boton {
    text-align: center;
    display: block;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    padding: 1rem 2rem;
    border: 1px solid var(--auxliar-azul);
    border-radius: 5px;
}

