.navbar-custom {
    background-color: #6eb5c0; /* Color de fondo */
    z-index: 1000; /* Asegura que el logo esté por encima de otros elementos */ 
}

.navbar-custom .container-fluid {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido horizontalmente */
}

.navbar-custom .navbar-brand {
    display: flex;
    align-items: center; /* Centra verticalmente el logo */
    margin-right: 30px; /* Espacio entre el logo y el menú */
}

.navbar-custom .navbar-brand .logo {
    max-height: 60px; /* Ajusta el tamaño del logo */
}

.navbar-custom .navbar-toggler {
    margin-left: auto;
}

.navbar-nav {
    display: flex;
    align-items: center; /* Alinea verticalmente los ítems del menú */
    margin-left: auto; /* Empuja el menú hacia la derecha */
}

.navbar-nav .nav-item {
    margin-left: 15px; /* Espaciado entre los elementos del menú */
}

.navbar-nav .nav-link {
    color: white !important; /* Color del texto en blanco */
}

.navbar-nav .nav-link.active {
    color: #f8f9fa !important; /* Color del texto activo, ligeramente diferente si deseas */
}

@media (max-width: 991px) {
    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin: 10px 0; /* Espaciado vertical en el menú desplegable */
    }

    .navbar-nav .nav-link {
        color: white !important; /* Color del texto en blanco para pantallas pequeñas */
    }
    
    .navbar-custom .navbar-brand .logo {
        display: none;
        
    }
}
