@media screen and (min-width: 0) {
    .logo{
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .logo{
        display: block;
        max-width: 8rem;
        max-height: 5rem;
        margin-right: 10px;
        margin-left: 120px;
    }
}