.sobre-nosotros__texto--division {
    color: var(--fuente-ceniza-oscuro);
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .sobre-nosotros__texto--division {
        border-bottom: 1px solid var(--background-ceniza-medio);
        padding-bottom: 1.5rem;
    }
}