.sobre_nosotros__titulo {
    color: #006c84;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center !important;
    margin-bottom: 1.25rem;
}

@media screen and (min-width: 1024px) {
    .sobre_nosotros__titulo {
        text-align: left;
    }
}