.comentarios__boton {
    color: var(--boton-rojo);

    font-family: var(--open-sans);

    border-color: var(--boton-rojo);

    margin-top: 1.25rem;
}

.calificacion__boton{
    color: var(--boton-rojo);

    font-family: var(--open-sans);

    border-color: var(--boton-rojo);

    margin-top: 1.25rem;

}