.comentarios__boton{
    color: var(--secundario-azul);

    font-family: var(--open-sans);

    border-color: var(--secundario-azul);

    margin-top: 1.25rem;
    text-decoration: none;
}

.calificacion__boton{
    color: var(--secundario-azul);

    font-family: var(--open-sans);

    border-color: var(--secundario-azul) !important;

    margin-top: 1.25rem;
    text-decoration: none;
}
