
.cards-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en pantallas más pequeñas */
    gap: 20px; /* Espacio entre tarjetas */
    padding: 20px;
    position: relative;
   
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 1200px; /* Ajusta este valor según el diseño deseado */
    margin: 0 auto; /* Centra el contenedor en pantallas grandes */
}
.card {
    width: 100%;
    max-width: 300px; /* Ajusta este valor según el diseño deseado */
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card-body {
    padding: 15px;
}
.card-title {
    margin: 0;
    font-size: 1.25rem;
}

.card-text {
    color: #555;
}

/* Efecto de hover para las tarjetas */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 767px) {
    .cards-section {
        padding: 10px;
    }

    .card {
        max-width: 100%;
    }
}
/* Centrar tarjetas  */
.planes {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;    /* Centra el contenido verticalmente, si es necesario */
    flex-direction: column; /* Para que los elementos se apilen verticalmente */
  }