.gallery-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carousel {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: 300px; /* Ajusta esta altura según tus necesidades */
    overflow: hidden; /* Esconde cualquier contenido que sobresalga */
    z-index: 1;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que las imágenes llenen el contenedor sin distorsionarse */
}

/* Ajusta el contenedor del carrusel para pantallas más pequeñas */
@media (max-width: 767px) {
    .carousel {
        height: auto; /* Permite que la altura del carrusel se ajuste según el contenido */
        justify-content: center;
    }

    .carousel img {
        width: 100%;
        height: auto;
    }
}

.thumbnails {
    justify-content: center;
    margin-top: 20px;
}

.thumbnails img {
    cursor: pointer;
    width: 100px;
    margin: 0 10px;
    transition: transform 0.3s;
}

.thumbnails img:hover {
    transform: scale(1.1);
}

/* Para asegurar que el carrusel siempre pase por debajo del header */
#galleryCarousel {
    margin-top: 20px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    z-index: 2;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 50%, 50%;
}

/* Para pantallas grandes */
@media (min-width: 768px) {
    .thumbnails {
        display: flex;
    }
}